* {
	box-sizing: border-box;
	margin: 0; 
	font-family: 'Avenir', sans-serif;
}
body {
	background: #1C2223;
}
a {
	text-decoration: none;
	color: white; 
}
a:visited {
	text-decoration: none;
}
.textCharcoal {
	color: #1C2223;
	opacity: .8;
}
.vsHeader {
	width: 100%;
	padding: 1%;
	position: absolute;
	top: 0;
	left: 0;
}
.vsLogoContainer {
    width: 5%;
    display: inline-block;
    vertical-align: middle;
}
.vsLogoContainer img {
	width: 100%;
}
.vsNavBar {
	display: inline-block;
}
.vsMenu {
	list-style: none;
	width: 200%;
}
.vsMenu li {
	display: inline;
	color: #FFF;
	padding: 1%; 
	opacity: .7;
}
.vsMenu li:hover {
	cursor: pointer; 
	opacity: 1;
	color: #E35529;
}
.guestInfo {
	transition: .5s ease all;
}
.suezFont {
	font-family: 'Suez One', serif;
	letter-spacing: 1.25px;
}
.textWhite{
	color: white;
}
.sectionTitle {
	margin: 2% 0;
}
.ctaBtn {
	background: #E35529;
	border: none;
	border-radius: 5px;
	padding: 5px 30px;
	font-size: 1.25em;
	margin-top: 15px;
}
#ourApproachContainer {
	width: 100%;
	padding: 4% 2%;
	text-align: center; 
}
.individualApproach {
	width: 90%;
	margin: 5% auto;
	/* vertical-align: top; */
	padding: 1%;
}
.individualApproach > div {
	display: inline-block;
}
.individualStepProcess {
	width: 50%;
	vertical-align: middle;
	text-align: left;
	margin: auto 5%;
}
.individualStepProcess > h4 {
	margin: 2% auto;
}
.individualStepProcess > p {
	opacity: .78;
}

.iconHolder {
	width: 10em;
    height: 10em;
    border: 1px solid #63C8CF;
    background: #63C8CF;
    padding: 2%;
    border-radius: 50%;
    vertical-align: middle;
}
.icon {
	width: 100%;
}
#vsTeamContainer {
	width: 100%;
	background: #63C8CF;
	text-align: center;
	padding: 4% 2%;
}
.teamMemberContainer {
	border: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 2px 10px rgba(0,0,0,.1);
    width: 30%;
    display: inline-block;
    color: white;
    vertical-align: top;
    margin: 1%;
    padding: 1%;
    min-height: 45em;
}
.teamMemberPictureContainer {
	width: 16em;
    height: 12em;
    border: 1px solid white;
    border-radius: 5px;
    margin: auto;
    overflow: hidden;
}

.teamMemberImg {
    width: 140%;
    height: 100%;
    margin: auto;
    margin-left: -15%;
}
.memberBio {
	padding: 5%;
	text-align: left;
}

/* Why Vybe Section */
#whySocialContainer {
	width: 100%;
	padding: 4% 2%;
	text-align: center; 
}
#whySocialContainer h2 {
	margin: 25px 0px;
} 
.whyVybeServices {
	list-style: none;
	text-align: left;
}
.whyVybeServices > li {
	margin: 15px 0px;
}
.arrowIcon {
	vertical-align: middle;
	cursor: pointer;
	margin-left: -50px;
	margin-right: 15px;
	color:  #63C8CF;
}
.toggleDescription {
	opacity: 0;
	width: 50px;
	height: 3em;
	cursor: pointer;
	z-index: 2;
	vertical-align: middle;
}
.toggling-content {
	display: none;
	padding: 5px 25px;
	line-height: 1.5em;
}
input[type="checkbox"]:checked ~ .toggling-content {
	display: block;
}
input[type="checkbox"]:checked ~ .question {
	color: #E35529;
}
input[type="checkbox"]:checked ~ .arrowIcon {
	color: #E35529;
/* 	transform: rotate(90deg); */
}

.otherServices {
	text-align: center;
	width: 49%;
	display: inline-block;
	padding: 2%;
	border: 2px solid  #63C8CF;
}
.faqList {
	list-style: none;
	text-align: left;
}
.faqList > li {
	margin: 15px 0px;
}
#vsPricing {
	background: #FFF;
	text-align: center;
	width: 100%;
	padding: 4% 2%;
	text-align: center; 
}
.toggle {
	width: 15em;
	margin: 1em auto;
	position: relative;
	margin-bottom: 80px;
}
.toggle input {
	opacity: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 6;
	width: 100%;
	height: 28px;
}
.toggle input ~ .btn {
	-webkit-transition: all .3s ease;
}
.toggle input:checked ~ .btn {
	left: 50%;
	-webkit-transition: all .3s ease;
	height: 32px;
}
.toggle .btn {
	border-radius: 12px;
	display: block;
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	width: 50%;
	height: 32px;
	background: transparent;
	border: 3px solid  #E35529;
}
.toggle .labels {
	position: absolute;
	top: .5em;
	z-index: 2;
	font-size: .6em;
	font-weight: bold;
}
.toggle .labels:before {
	content: "Hourly";
	position: absolute;
	left: 50px;
	color: black;
}
.toggle .labels:after {
	content: "Monthly";
	position: absolute;
	right: 50px;
	color:  #E35529;
}
.toggle .bg {
	display: block;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.7em;
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,.2);
	background: #fff;
	box-shadow: 0 1px 0 0 rgba(255,255,255,1);
}
.pricingTier {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 1px;
  box-shadow: 2.5px 4.33px 7px 3px rgba(0, 0, 0, 0.1);
  width: 20%;
  height: 572px;
  position: relative;
  text-align: center;
  display: inline-block;
  margin: auto 2%;
}
.pricingLabel {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 50px 5px;
	color: #FFF;
}
.pricingLabel > h3 {
	line-height: 50px;
}
.priceCircle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	background: #FFF;
	position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    color: #1C2223;
}
.priceCircle > h4 {
	line-height: 100px;
}
#bronze {
	background: #63C8CF;
}
#bronze > .priceCircle {
	border: 1px solid #63C8CF;
}
#silver {
	background: #E35529;
}
#silver > .priceCircle {
	border: 1px solid #E35529;
}
#gold {
	background: #1C2223;
}
#gold > .priceCircle {
	border: 1px solid #1C2223;
}
.pricingTierList {
	list-style-type:  circle;
	position: absolute;
    left: 50%;
    top: 150%;
    transform: translateX(-50%);
    width: 100%;
    text-align: left;
}
.pricingTierList > li {
	margin: 10% 0;
}

.getStartedCTA {
	color: #FFF;
    background: #E35529;
    border-radius: 6px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    font-size: 1.25em;
}

#vsContactUsContainer {
	text-align: center;
	width: 100%;
	padding: 8%;
	background: url("../Images/sociaMediaCTA.jpg");
	background-position: center;
	background-size: cover;
}
.contactUsBtn {
	background: #E35529;
	color: white;
	font-size: 1.5em;
	border: 1px solid #E35529;
	border-radius: 5px;
	opacity: .9;
	margin: 5% 0%;
}
.contactUsBtn:hover {
	cursor: pointer;
	opacity: 1;
}
#vsContact {
	width: 100%;
	padding: 4% 2%;
	text-align: center; 	
}
footer {
	padding: 2%;
	width: 100%;
	background: #63C8CF;
	color: white;
	text-align: center;
}
footer > div {
	display: inline-block;
	width: 22%;
	vertical-align: middle;
}
footer ul {
	list-style: none;
	text-align: left;
}
footer ul li {
	margin: 2%;
	font-size: .75em;
}
footer div ul li a:hover {
	color:  #E35529;
}
.socialMediaIconsContainer {
	text-align: right;
}
.socialMediaIconsContainer > li {
	display: inline;
}
.socialMediaIcon:hover {
	color: #E35529;
	cursor: pointer;
}


/* css for splash page */
#container {
	background-image: url("../Images/vybeSocialHeaderImg.jpg");	
	width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
#aboutContainer {
	background-image: url("../Images/vybeSocialAboutImg.jpg");	
	width: 100%;
    height: 50vh;
    background-position: center;
    background-size: cover;
}
#aboutContainer::before {
	opacity: .5;
}
#logotype {
	width: 80%;
	margin-bottom: 5%;
}
.guestInfo {
	position: absolute;
	top: 30%;
	left: 25%;
	transform: translateX(-50%);
	width: 60%;
	text-align: center;
}
 button {
	border: 1px solid white;
    color: white;
    background: transparent;
    padding: 1% 5%;
    height: 3em;
    margin-left: -1%;
}
button:hover {
	cursor: pointer;
}
button:focus {
	outline: none; 
}
.submitBtn {
	display: block;
	border: none;
	border-radius: 1px;
	background: #63C8CF;
	margin: 2% auto;
	font-size: 1.25em;
}
.contactForm {
	width: 80%;
	margin: auto;
}
.mobileMenu {
	list-style: none;
	text-align: left;
	position: absolute;
	top: -1000%;
	transition: 1s ease all;
	display: none;
	z-index: 3;
	background: #1C2223;
	width: 100%;
}
.mobileMenu > li {
	margin-bottom: 15px;
	font-size: 2em;
}
@media(max-width:768px) {
	.mobileMenu > li {
		font-size: 2.5em;
	}
	.pricingTier {
		width: 95%;
		margin: 1%;
	}
	.footerMenu {
		display: none;
	}
	footer > div {
		display: block;
		width: 95%;
		vertical-align: middle;
	}
}
.showMobileMenu {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 10em;
	height: 10em;
	opacity: 0;
	z-index: 2;
}
.burgerMenuHolder {
	width: 5em;
	height: 5em;
	position: absolute;
	top: 15px;
	right: 15px;
	visibility: hidden;
}
.menuIcon {
	width: 100%;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	.guestInfo {
		width: 90%;
	}
	.guestInfo > h1 {
		font-size: 2.5em;
	}
	.guestInfo > h2 {
		font-size: 1.5em;
	}
	.ctaBtn {
		font-size: 3em;
    	border-radius: 15px;
	}
	.sectionTitle {
		font-size: 3em;
	}

	input {
		height: 3em;
		font-size: 1em;
	}
	button {
		height: 3em;
		font-size: 1em;
	}
	.teamMemberContainer {
		width: 80%;
	}
	.vsHeader {
		text-align: left;
	}
	.vsMenu {
		display: none;
	}
	.vsLogoContainer {
		width: 10em;
		margin-left: 15px;
  	}
	.burgerMenuHolder {
		visibility: visible;
	}
	.guestInfo {
		left: 50%;
		width: 80%;
	}
	.teamMemberContainer {
		width: 95%;
		padding: 5%;
	}
	.teamMemberPictureContainer {
		width: 26em;
		height: 22em;
	}
	.teamMemberContainer > h4 {
		font-size: 2em;
	}
	.teamMemberContainer > p {
		font-size: 2em;
	}
	.individualApproach {
		width: 95%;
		display: flex;
		flex-flow: column;
	}
	.individualApproach > div {
    	display: block;
    	margin: auto;
	}
	.iconHolder {
		width: 10em;
		height: 10em;
		order: 1;
	}
	.individualStepProcess {
		width: 80%;
		order: 2;
	}
	.individualStepProcess > h4 {
		font-size: 2.5em;
	}
	.individualStepProcess > p {
		font-size: 1.5em;
	}
  	.ctah2 {
  		font-size: 3em;
  	}
  	.contactUsBtn {
  		font-size: 3em;
    	border-radius: 15px;
  	}
  	footer ul {
  		font-size: 1em;
  		width: 60%;
  	}
  	.socialMediaIconsContainer {
   		text-align: center;
  	}
}


@media screen and (max-device-width: 480px) {
		.guestInfo {
			width: 90%;
		}
		.guestInfo > h1 {
			font-size: 2.5em;
		}
		.guestInfo > h2 {
			font-size: 1.5em;
		}
		.ctaBtn {
			font-size: 1.5em;
	    	border-radius: 15px;
		}
		.sectionTitle {
			font-size: 2em;
		}
		input {
			height: 3em;
			font-size: 1em;
		}
		button {
			height: 3em;
			font-size: 1em;
		}
		.teamMemberContainer {
			width: 80%;
		}
		.vsHeader {
			text-align: left;
		}
		.vsMenu {
			display: none;
		}
		.vsLogoContainer {
			width: 10em;
			margin-left: 15px;
	  	}
		.burgerMenuHolder {
			visibility: visible;
		}
		.guestInfo {
			left: 50%;
			width: 80%;
		}
		.teamMemberContainer {
			width: 95%;
			padding: 5%;
		}

		.teamMemberContainer > h4 {
			font-size: 1.5em;
		}
		.teamMemberContainer > p {
			font-size: 1em;
		}
		.individualApproach {
			width: 95%;
			display: flex;
			flex-flow: column;
		}
		.individualApproach > div {
	    	display: block;
	    	margin: auto;
		}
		.iconHolder {
			width: 10em;
			height: 10em;
			order: 1;
		}
		.individualStepProcess {
			width: 80%;
			order: 2;
		}
		.individualStepProcess > h4 {
			font-size: 1.5em;
		}
		.individualStepProcess > p {
			font-size: 1em;
		}
	  	.ctah2 {
	  		font-size: 3em;
	  	}
	  	.contactUsBtn {
	  		font-size: 3em;
	    	border-radius: 15px;
	  	}
	  	footer ul {
	  		font-size: 1em;
	  		width: 60%;
	  	}
	  	.socialMediaIconsContainer {
	  		text-align: center;
	  	}
}	

@media(max-width:768px) {
	.vsHeader {
		text-align: left;
	}
	.vsMenu {
		display: none;
	}
	.vsLogoContainer {
		width: 10em;
		margin-left: 15px;
	 }
	 #vsContactUsContainer {
	 	padding: 15%;
	 }
	.burgerMenuHolder {
		visibility: visible;
	}
	.guestInfo {
		left: 50%;
		width: 80%;
	}
	.individualStepProcess > p {
		font-size: 1.1em;
	}
	.teamMemberContainer {
		width: 95%;
		padding: 5%;
	}
	.individualApproach {
		width: 95%;
		display: flex;
		flex-flow: column;
	}
	.individualApproach > div {
    	display: block;
    	margin: auto;
	}
	.iconHolder {
		width: 5em;
		height: 5em;
		order: 1;
	}
	.individualStepProcess {
		width: 80%;
		order: 2;
	}
  	.ctah2 {
  		font-size: 1.15em;
  	}
  	footer ul {
  		font-size: .5em;
  		width: 95%;
  		text-align: center;
  	}
  	.socialMediaIconsContainer {
  		text-align: center;
  	}
  	.socialMediaIconsContainer > li {
  		font-size: 2em;
  	}
}


#termsContainer {
	color: white;
	margin: auto;
	width: 80%;
	line-height: 1.5;
	padding: 3% 0;
	opacity: .8;
}
#termsContainer > h3 {
	margin-bottom: 1%;
	margin-top: 1%;
}
















